imagenet/
data/*
data_stage2/*
!data/imagenet_class_index.json
!data/chinese_class_index.json
__pycache__/
.vscode/
*.pth
*.pyc
*.log
*.txt
*.zip
*.tar
*.gz
*.rar
*.tar.gz
*.ipynb
!data_analysis_one_step.ipynb
!data_analysis_multi_step.ipynb
!data_analysis_classified.ipynb
